
/* Color Theme Swatches in Hex */
.Coldplay---Ink-1-hex { color: #F23847; }
.Coldplay---Ink-2-hex { color: #BF3945; }
.Coldplay---Ink-3-hex { color: #F2BBBF; }
.Coldplay---Ink-4-hex { color: #400711; }
.Coldplay---Ink-5-hex { color: #F28888; }


html {
  font-family: Righteous;
}

body {
  text-align: center;
  color: black;
}



.container-full {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: auto;
}

.container-form {
  width: 100%;
}

.container-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-todo-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 25px 0px 25px 0px;
}
.todo-title {
  background-color: #BF3945;
  width: 100%;
}
.todo-dates {
  background-color: #F28888;
  width: 25%;
}
.todo-details {
  background-color: #F2BBBF;
  width: 75%;
}

.button {
  height: 50px;
  width: 175px;
  background-color: #BF3945;
  margin: 10px;
  color: white;
}

.button:hover{
  background-color: #F28888;
}

button, input, textarea, select {
  font-family: Righteous;
  font-size: 1em;
  text-align: center;

}

.input {
  padding: 20px;
  margin: 0px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.input input, textarea, select {
  width: 50%;
  padding: 12px;
  margin-top: 12px;
}

.input1 {
  background-color: #F2BBBF;
}

.input2 {
  background-color: #F28888;
}
