<div class="jumbotron jumbotron-fluid <%= @winning_choice %>">
  <div class="container">
    <h1 class="display-3 text-light text-center rounded text1">The winner is <%= @winner %></h1>
    <p class="display-4 text-light text-center rounded text1"><%= @winning_choice %> is the superior object</p>
  </div>
</div>
