<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <p>
      <span><a href="/pizza-orders/">All Pizza Orders</a></span>
      <span>  |  </span>
      <span><a href="/pizza-orders/new">Order A Pizza</a></span>
    </p>
  </nav>
  <%= yield %>
</body>
</html>
